<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
    <insert id="insertMember" statementType="PREPARED"
        parameterType="x12323.spring.mvc.vo.MemberVO">
        insert into member (userid, passwd, name) values (#{userid},#{passwd},#{name})
    </insert>

    <update id="updateMember" statementType="PREPARED"
        parameterType="x12323.spring.mvc.vo.MemberVO">
        update member
        set name = #{name} , grade = #{grade}, points = #{points}
        where userid = #{userid}
    </update>

    <delete id="deleteMember" statementType="PREPARED"
        parameterType="String">
        delete from member where name = #{name}
    </delete>


    <select id="selectList" statementType="PREPARED"
        resultType="x12323.spring.mvc.vo.MemberVO">
        select userid, grade, regdate from member
    </select>
    <select id="selectOne" statementType="PREPARED"
        parameterType="String"
        resultType="x12323.spring.mvc.vo.MemberVO">
        select * from member where userid = #{userid}
    </select>
</mapper>